<div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Text Logo -->
                        <!--<a href="index.html" class="logo">-->
                            <!--<span class="logo-small"><i class="mdi mdi-radar"></i></span>-->
                            <!--<span class="logo-large"><i class="mdi mdi-radar"></i> Simple</span>-->
                        <!--</a>-->
                        <!-- Image Logo -->
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo_sm.png" alt="" height="26" class="logo-small">
                            <img src="assets/images/logo.png" alt="" height="26" class="logo-large">
                        </a>

                    </div>
                    <!-- End Logo container-->


                    <div class="navbar-custom">
                        <div id="navigation">
                            <!-- Navigation Menu-->
                            <ul class="navigation-menu">
                                 {{#active-li currentWhen='index'}}
          {{#link-to 'index'}}
            <i class="fa fa-home"></i> Home
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='help'}}
          {{#link-to 'help'}}
            <i class="fa fa-rocket"></i> Help
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='blocks'}}
          {{#link-to 'blocks'}}
            <i class="fa fa-cubes"></i> Pool Blocks
            {{#if immatureTotal}}
              <span class="badge alert-success">{{immatureTotal}}</span>
            {{/if}}
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='payments'}}
          {{#link-to 'payments'}}
            <i class="fa fa-paper-plane-o"></i> Payments
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='miners'}}
          {{#link-to 'miners'}}
            <i class="fa fa-users"></i> Miners
          {{/link-to}}
        {{/active-li}}
        {{#active-li currentWhen='about'}}
          {{#link-to 'about'}}
            <i class="fa fa-comments"></i> About <span class="badge alert-success">&#x2713;</span>
          {{/link-to}}
        {{/active-li}}
                               

                              
                            </ul>
                            <!-- End navigation menu -->
                        </div> <!-- end #navigation -->
                    </div> <!-- end navbar-custom -->


                    <div class="menu-extras topbar-custom">

                       
                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

<!-- Fixed navbar -->


{{outlet}}
