<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>
  <p>1. Mining software:</p>
We recommend Claymore's Dual Ethereum AMD+NVIDIA GPU Miner. Download & configuration guide here: Claymore's on Bitcointalk<br>
  <p>2.Mining server:</p>
Stratum: pool.funcoin io:8008"<br>
EtherProxy: pool.fuincoin io:8888"<br>
<p>3. Configuration:</p>
Command: EthDcrMiner64.exe -allcoins 1 -epool s2.solopool.org:8006 -ewal [ADDRESS] -epsw x -eworker [RIG_ID]

[ADDRESS]
This is your address Callisto for payouts. Generate one with local/web wallet, or mine directly to any exchange.

Example: 0xf35074bbd0a9aee46f4ea137971feec024ab704e

[RIG_ID]
ID of your rig to distinguish it from your other rigs. Use English letters, numbers and symbols "_" and "-". Maximum 20 characters.

Example: RIG01

Example: EthDcrMiner64.exe -allcoins 1 -epool s2.solopool.org:8006 -ewal 0xf35074bbd0a9aee46f4ea137971feec024ab704e -epsw x -eworker RIG01
</div>
<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Title and breadcrumb -->
            <!-- ============================================================== -->
            <div class="page-titles">
                <div class="d-flex align-items-center">
                    <h5 class="font-medium m-b-0">FAQ</h5>
                    <div class="custom-breadcrumb ml-auto">
                        <a href="#!" class="breadcrumb">Home</a>
                        <a href="#!" class="breadcrumb">FAQ</a>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="card-title">Faqs with accordion</h5>
                                <ul class="collapsible collapsible-dark">
                                    <li class="active">
                                        <div class="collapsible-header"><i class="material-icons">question_answer</i>How can i purchase this admin?</div>
                                        <div class="collapsible-body"><span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">question_answer</i>How to modify Navigation?</div>
                                        <div class="collapsible-body"><span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</span></div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">question_answer</i>How to get yearly Support?</div>
                                        <div class="collapsible-body"><span>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
</div>

                

